@import url('bootstrap');
@import url('bootstrap-icons');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



main {

  .card {
    margin: 1rem;
    width: 100%;
    max-width: 300px;
    height: 460px;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
    transition: transform 0.2s ease;

    .card-header {

      h6 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      a {
        text-decoration: none;
      }
    }

    .card-body {

      .product-img {
        width: 100%;
        height: 160px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
                                                                                                              gb                                        vvvvvvvvvvvvvvvvvvvvnhgnbvbg                                           gbg hnvb                                                                                                                                                                                                                                       bbb bf                                                                                bgujbbh                                                                                                    nv bbbbbbbbbbbbbbbvcbhbb9y                                             hhhhhhhh666666666666666666666666666666666666666666666667ggggggh,,+                                                                                                                        7777777cccccccccdfklodkm,3d333,kmlferm,lkvchyyevb c nnnnnnnnnnnnnnnnnnnnjkvjffffffffffvgmn bnjvv 3ermjnu3erh4furjh84
                                                                                                              
                                                                                                              lòpjjllh
                                                                                                              webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }

      99999.product-detail {}
    }
  }

  .card:hover {
    transition: translateY(-4px);
  }
}


.btn-page {
  width: 9rem;
}


.btn-budget-mode {
  margin-right: 1rem;
  text-align: center;

  i {
    font-size: 1.5rem;
  }

}

footer {
  .row {
    width: 100%;
    height: 100%;
  }
}